html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Poppins', sans-serif;
}

/* Navbar */

#navbar_top {
    background-color: #21476c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Hero */
.hero {
    height: 300px;
    text-align: left;
    background-color: #21476c;
}

.hero h1 {
    padding-top: 2em;
    color: #fff;
    padding-left: 1em;
}

.searchHero {
    float: right;
    margin-right: 50px;
    margin-top: -40px;
    background-color: #f2c204;
    border: unset;
}

#searchBtn {
    width: 140px;
    background-color: #21476c;
    border: unset;
}

#namaKode,
#kampus {
    border: unset;
}

.pr {
    background-color: #21476c;
    color: #fff;
}

/* Ruang Favorit */

.ruangFav {
    /* background-color: #21476c; */
}

.favCard {
    width: 18rem;
}

/* Reason */
.reason p {
    text-align: justify;
}

/* Resposive */

@media only screen and (max-width: 768px) {
    body {
        /* background-color: red; */
    }

    .searchBox {
        width: 100%;
        /*background-color: red;*/
    }

    .searchHero {
        margin: 0 auto;
        width: 450px;
        float: none;
        margin-top: -50px;
    }

    .searchHero input,
    .searchHero select {
        width: 100%;
    }

    #searchBtn {
        width: 100%;
    }

}

@media only screen and (max-width: 425px) {
    .searchHero {
        width: 300px;
    }

    .favCard {
        width: 100%;
    }
}